In [43]:
import pandas as pd

In [80]:
beers = pd.read_csv('./Drinks/beer.csv')
beers

,beer_id,brewery_id,beer_name,beer_style,beer_abv
0,3,2,Cactus Queen IPA,American IPA,NaN
1,4,2,Wildcatter's Crude Stout,American Stout,NaN
2,5,3,Amber,Vienna Lager,4.5
3,6,3,Turbodog,English Brown Ale,5.6
4,7,3,Purple Haze,Fruit / Vegetable Beer,4.2
...,...,...,...,...,...
66050,77313,185,Aass Gourmet Pale Ale,American Blonde Ale,4.7
66051,77314,18604,Betty Brown Norwegian Brwon Ale,American Brown Ale,4.7
66052,77315,27839,Icelandic White Beer,Witbier,5.2
66053,77316,20330,Crank Yanker IPA,American IPA,7.8
66054,77317,96,Belgo Sutra,Quadrupel (Quad),NaN

In [81]:
open_units = pd.read_csv('./Drinks/open_units.csv')
open_units

,Product,Brand,Category,Style,Volume,Package,ABV,Units,Unit (4dp),Units per 100ml
0,13 Guns,Crafty Dan,Beer,IPA,330,bottle,5.5,1.8,1.8150,0.55
1,13 Guns,Crafty Dan,Beer,IPA,330,can,5.5,1.8,1.8150,0.55
2,13 Guns,Crafty Dan,Beer,IPA,568,draught,5.5,3.1,3.1240,0.55
3,Abbot Ale,Greene King,Beer,Ale,500,bottle,5.0,2.5,2.5000,0.50
4,Abbot Ale,Greene King,Beer,Beer,568,draught,5.0,2.8,2.8400,0.50
...,...,...,...,...,...,...,...,...,...,...
1077,Yeastie Boys White Noise,Yeastie Boys,Beer,Wheat Beer,330,can,4.4,1.5,1.4520,0.44
1078,Young's Bitter,Young's,Beer,Bitter,568,draught,3.7,2.1,2.1016,0.37
1079,Young's London Stout,Young's,Beer,Stout,568,draught,4.3,2.4,2.4424,0.43
1080,Zeffer Hopped Infused Cider,Zeffer,Cider,NaN,330,bottle,5.4,1.8,1.7820,0.54
1081,Zywiec,Zywiec,Beer,Lager,500,bottle,5.6,2.8,2.8000,0.56

In [82]:
open_units = open_units.drop(['Units', 'Units per 100ml'], axis=1)
open_units

,Product,Brand,Category,Style,Volume,Package,ABV,Unit (4dp)
0,13 Guns,Crafty Dan,Beer,IPA,330,bottle,5.5,1.8150
1,13 Guns,Crafty Dan,Beer,IPA,330,can,5.5,1.8150
2,13 Guns,Crafty Dan,Beer,IPA,568,draught,5.5,3.1240
3,Abbot Ale,Greene King,Beer,Ale,500,bottle,5.0,2.5000
4,Abbot Ale,Greene King,Beer,Beer,568,draught,5.0,2.8400
...,...,...,...,...,...,...,...,...
1077,Yeastie Boys White Noise,Yeastie Boys,Beer,Wheat Beer,330,can,4.4,1.4520
1078,Young's Bitter,Young's,Beer,Bitter,568,draught,3.7,2.1016
1079,Young's London Stout,Young's,Beer,Stout,568,draught,4.3,2.4424
1080,Zeffer Hopped Infused Cider,Zeffer,Cider,NaN,330,bottle,5.4,1.7820
1081,Zywiec,Zywiec,Beer,Lager,500,bottle,5.6,2.8000

In [83]:
open_units.rename(columns={'Unit (4dp)':'Units'}, inplace=True)
open_units

,Product,Brand,Category,Style,Volume,Package,ABV,Units
0,13 Guns,Crafty Dan,Beer,IPA,330,bottle,5.5,1.8150
1,13 Guns,Crafty Dan,Beer,IPA,330,can,5.5,1.8150
2,13 Guns,Crafty Dan,Beer,IPA,568,draught,5.5,3.1240
3,Abbot Ale,Greene King,Beer,Ale,500,bottle,5.0,2.5000
4,Abbot Ale,Greene King,Beer,Beer,568,draught,5.0,2.8400
...,...,...,...,...,...,...,...,...
1077,Yeastie Boys White Noise,Yeastie Boys,Beer,Wheat Beer,330,can,4.4,1.4520
1078,Young's Bitter,Young's,Beer,Bitter,568,draught,3.7,2.1016
1079,Young's London Stout,Young's,Beer,Stout,568,draught,4.3,2.4424
1080,Zeffer Hopped Infused Cider,Zeffer,Cider,NaN,330,bottle,5.4,1.7820
1081,Zywiec,Zywiec,Beer,Lager,500,bottle,5.6,2.8000

In [84]:
drink_brands = pd.DataFrame(open_units['Brand'].unique())

In [85]:
drink_brands.columns = ['name']
drink_brands['brand_id'] = drink_brands.index
drink_brands = drink_brands.set_index('brand_id')

In [96]:
beers = beers.dropna()

In [98]:
beers[beers['beer_name'].str.contains('guinn', case=False, na=False)]

,beer_id,brewery_id,beer_name,beer_style,beer_abv
575,650,209,Guinness Extra Stout (Original),Irish Dry Stout,6.0
659,745,209,Guinness Bitter Draft,English Bitter,4.4
665,752,209,Guinness Foreign Extra Stout,Foreign / Export Stout,7.5
666,754,209,Guinness Draught,Irish Dry Stout,4.2
8972,10848,209,Guinness Special Export Stout (John Martin - B...,Foreign / Export Stout,8.0
14294,17626,209,Guinness Extra Stout (UK),Irish Dry Stout,5.0
18663,23134,10544,Guinness Foreign Extra Stout (Africa),Foreign / Export Stout,7.5
23505,28972,209,Guinness Brew 39,Irish Dry Stout,4.1
28160,34781,209,Guinness Draught Extra Cold,Irish Dry Stout,4.2
29305,36204,221,Guinness Foreign Extra Stout (Jamaica),Foreign / Export Stout,6.5
34652,42282,16004,Guinness Foreign Extra Stout (Malaysia),Foreign / Export Stout,5.0
38804,46890,944,Guinness Foreign Extra Stout (Bahamas),Foreign / Export Stout,7.5
40804,49122,209,Guinness 250th Anniversary Stout,Irish Dry Stout,5.0
42208,50759,209,Guinness Original,Irish Dry Stout,4.2
43619,52366,209,Guinness Extra Stout (Canada),Irish Dry Stout,5.0
45952,55163,209,Guinness Extra Stout (Australia),Irish Dry Stout,6.0
46168,55404,946,Guinness Foreign Extra (St. Lucia Version),Foreign / Export Stout,7.5
47902,57285,209,Guinness Black Lager,Euro Dark Lager,4.5
49135,58741,15908,Guinness (Ghana),Foreign / Export Stout,7.5
50875,60810,209,Guinness Extra Stout (Germany),Irish Dry Stout,4.1
56357,66897,10544,Malta Guinness,Low Alcohol Beer,0.1

In [99]:
open_units[open_units['Product'].str.contains('gui', case=False, na=False)]

,Product,Brand,Category,Style,Volume,Package,ABV,Units
434,Guinness,Guinness,Beer,Stout,440,can,4.1,1.8040
435,Guinness,Guinness,Beer,Stout,568,draught,4.1,2.3288
436,Guinness Dublin Porter,Guinness,Beer,Porter,500,bottle,3.8,1.9000
437,Guinness Foreign Extra Stout,Guinness,Beer,Stout,330,bottle,7.5,2.4750
438,Guinness Golden Ale,Guinness,Beer,Blonde Ale,500,bottle,4.5,2.2500
439,Guinness Golden Ale,Guinness,Beer,Blonde Ale,568,draught,4.1,2.3288
440,Guinness Original Extra Stout,Guinness,Beer,Stout,330,bottle,4.2,1.3860
441,Guinness Rye Pale Ale,Guinness,Beer,Pale Ale,500,bottle,5.0,2.5000
442,Guinness West Indies Porter,Guinness,Beer,Porter,500,bottle,6.0,3.0000
629,March Of The Penguins,Williams Bros. Brewing Co.,Beer,Stout,500,bottle,5.0,2.5000